$white : #fff;
$primary: #EC1313;
$secondary:#212529;
$third: #FECF2A;

$primary-text: #0F141E;
$secondary-text:#29292b;

// $assetPath :"/assets/img";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;600&family=Sora:wght@400;500;600;700&display=swap');
body{
    margin: 0;
    font-family: 'Sora', sans-serif;
    color: $primary-text;
    // background: url(../img/white-theme.png);
    // background-size: cover;
    // height: 8000px;
}
.container {
    // padding-left: 0.75rem;
    // padding-right: 0.75rem;
    max-width: calc(100% - 160px);
    margin-right: auto;
    margin-left: auto;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-weight: 500;
    line-height: 1.2;
    font-family: 'Sora', sans-serif;
}
p{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1.125em;
    line-height: 1.75em;
    font-weight: 400;
}
section{
    padding: 60px 0;
}
.heading{
    width: 100%;
    margin-bottom: 2rem;
    h2 {
        font-size: 2.3rem;
        line-height: 1.2;
        font-weight: 700;
        margin-bottom: 20px;
    }
}

.btn-primary {
    font-family: 'Sora', sans-serif;
    padding:1rem 3rem;
    border-radius: 100px;
    text-transform: capitalize;
    border: none;
    font-size: .875rem;
    font-weight: 400;
    background: $primary;
    background-size: 200% 100%;
    color: #fff;
    box-shadow: 0 22px 40px -17px #f5140652;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover {
        color: #fff;
        background-position: 50% 0;
        box-shadow: 0 22px 40px -5px #f5140652;
    }
}

header{
    width: 100%;
    padding: 2rem 0;
    .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .logo{
            width: 130px;
            font-weight: 700;
        }
        nav{
            ul{
                li{
                    list-style: none;
                    a{
                        text-decoration: none;
                        color: $primary-text;
                        font-size: 1.1rem;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 25rem;
    padding: 3rem;
    text-align: center;
    // background: #f6f6f6;
    .text{
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;
        .profile{
            width: 100px;
            height: 100px;
            border-radius: 50px;
            overflow: hidden;
            margin-bottom: 1rem;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: grayscale(1);
            }
        }
        h1{
            font-size: 5rem;
            font-weight: 700;
            margin-bottom: 3rem;
            color: $primary-text;
        }
        h4{
            font-size: 1.3rem;
            font-weight: 400;
        }
    }
}

.resume{
    width: 100%;
    .grid{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .resume-item{
            max-width: calc(50% - 1px);
            min-width: calc(50% - 1px);
            flex: 1 1 280px;
            margin-bottom: 1rem;
            h3{
                font-size: 1rem;
                font-weight: 600;
                margin-bottom: 1.625rem;
            }
            &-box{
                width: 100%;
                margin-bottom: 2rem;
                h4{
                    font-size: 1rem;
                    font-weight: 400;
                    margin-bottom: 1rem;
                }
            }
    }
    }
}

.work{
    background: #eee;
}